.venv/
__pycache__/
*.py[cod]
*$py.class

# ML - игнорируем только временные файлы, модели добавляем через Git LFS
# ml/data/models/ - модели должны быть в репозитории через Git LFS

# Django
db.sqlite3
media/
staticfiles/

# VSCode / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Node / frontend
node_modules/
dist/
build/

ml/models